# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!battle_item.png
!battle_item1.png
!battle_item2.png
!battle_item3.png
!battle_tousou.png
!battle_yousu.png
!s_auto.png
!s_ea.png
!s_eb.png
!s_ec.png
!s_eliminate.png
!s_escape.png
!s_hissatu.png
!s_item.png
!s_mode.png
!s_mode0.png
!s_mode1.png
!s_mode2.png
!s_mode3.png
!s_mode4.png
!s_oa.png
!s_ob.png
!s_oc.png
!s_ra.png
!s_rb.png
!s_rc.png
!s_skill.png
!s_skill1.png
!s_skill2.png
!s_skill3.png
!s_skill4.png
!s_skill5.png!