# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!OP-text01.png
!OP-text02.png
!OP-text03.png
!OP-text04.png
!OP-text05.png
!OP-text06.png
!chapter_title_00.jpg
!chapter_title_01.jpg
!chapter_title_02.jpg
!chapter_title_03.jpg
!chapter_title_04.jpg
!chapter_title_05.jpg
!chapter_title_06a.jpg
!chapter_title_06b.jpg
!chapter_title_07.jpg
!chapter_title_08.jpg
!chapter_title_09a.jpg
!chapter_title_09b.jpg
!chapter_title_10.jpg
!chapter_title_11.jpg
!chapter_title_12.jpg
!chapter_title_13.jpg
!chapter_title_14.jpg