# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!battle_item.png
!battle_item1.png
!battle_item2.png
!battle_item3.png
!battle_tousou.png
!battle_yousu.png
!s_auto.png
!s_ea.png
!s_eb.png
!s_ec.png
!s_eliminate.png
!s_escape.png
!s_hissatu.png
!s_item.png
!s_mode.png
!s_mode0.png
!s_mode1.png
!s_mode2.png
!s_mode3.png
!s_mode4.png
!s_oa.png
!s_ob.png
!s_oc.png
!s_ra.png
!s_rb.png
!s_rc.png
!s_skill.png
!s_skill1.png
!s_skill2.png
!s_skill3.png
!s_skill4.png
!s_skill5.png!
!dangeon_dammy.png
!database.png
!database1.png
!database2.png
!database3.png
!database4.png
!database_alt.png
!Hなきろくベース.png
!keycon.png
!keycon2.png
!menuべんりきのう.png
!s_auto.png
!s_auto_nots.png
!s_auto_version.png
!s_auto_version2.png
!s_auto_version_a.png
!s_auto_version_as.png
!s_escape.png
!s_hissatu.png
!s_hissatu_nots.png
!s_hissatu_version.png
!s_hissatu_version2.png
!s_hissatu_version_h.png
!s_hissatu_version_hs.png
!s_item.png
!s_item_only.png
!s_mode.png
!s_skill.png
!taimamono.png
!コレクション全開放.png
!ステータスベース.png
!ダンジョン_バイタルエナジー.png
!ダンジョンはてな.png
!ダンジョンボタン.png
!ダンジョンボタンあきらめる選択.png
!ダンジョンボタンかいふく選択.png
!ダンジョンボタンすすむ選択.png
!ダンジョンボタンセーブ選択.png
!ダンジョンボタンダッシュ選択.png
!ダンジョン目標_1.png
!ダンジョン目標_10.png
!ダンジョン目標_11.png
!ダンジョン目標_2.png
!ダンジョン目標_3.png
!ダンジョン目標_4.png
!ダンジョン目標_5.png
!ダンジョン目標_6.png
!ダンジョン目標_7.png
!ダンジョン目標_8.png
!ダンジョン目標_9.png
!ボーナス_オールグリーン.png
!ボーナス_カウンター.png
!ボーナス_デウス.png
!ボーナス_フォルトゥ.png
!ボーナス_メタバースト.png
!メイン左上ぐるぐる.png
!メイン左上ぼろぼろ.png
!メイン左上ハート.png
!メイン左上悲しい.png
!メイン左上普通.png
!メイン左上横目.png
!メイン左上笑顔.png
!メイン左上驚き.png
!メニューHな記録選択.png
!メニューアイテム選択.png
!メニューオプション選択.png
!メニューステータス選択.png
!メニューセーブ選択.png
!メニュー選択なし.png
!メニュー閉じる選択.png
!モザイク_エロ配信.png
!モザイク_マッサージ.png
!モザイク_催眠レイプ.png
!モザイク_壁尻レイプ.png
!モザイク_妊娠.png
!モザイク_拘束プレイ.png
!モザイク_潮吹き.png
!モザイク_輪姦.png
!モザイク_青姦.png
!レベルアップベース.png
!戦闘_アイテム.png
!戦闘_アイテム選択.png
!戦闘_エスケープ.png
!戦闘_エスケープ選択.png
!戦闘_オート攻撃.png
!戦闘_オート攻撃選択.png
!戦闘_スキル.png
!戦闘_スキル選択.png
!戦闘_必殺技.png
!戦闘_必殺技選択.png
!戦闘_戦闘モード.png
!戦闘_戦闘モード選択.png
!残り行動力0.png
!残り行動力1.png
!残り行動力2.png
!残り行動力3.png
!目標_パトロール.png
!目標_マキナと話す.png
!目標_マモノ基地.png
!目標_マリオンと話す.png
!目標_ルインを探す.png
!目標_探索.png
!目標_深淵.png
!目標_自由.png
!目標_雷が落ちる森.png
!目標_魑魅魍魎.png
!目標_魔物退治.png
!称号_えっちが大好き.png
!称号_えっちなら任せて.png
!称号_ちょっと期待してる.png
!称号_もはやセクサロイド.png
!称号_イヤじゃないかも.png
!称号_夜を遊ぶ改造少女.png
!称号_我慢はできます.png
!称号_望まぬ非処女.png
!称号_純粋無垢.png!
!Command_0.png
!Command_1.png
!Command_2.png